/* The following block can be included in a custom.scss */
/* make the customizations */
$theme-colors: (
	"primary": #006699,
	"warning": rgb(255, 158, 22),
	"success": #299d74,
    "info": teal,
    "danger": rgb(202, 71, 71)
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";




// https://github.com/blckclov3r
body{
	font-family: 'Open Sans', sans-serif;
  background: #f1f1f1;
  background-image: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.4)),url('https://raw.githubusercontent.com/blckclov3r/blckclov3r.github.io/master/public/bgslash.webp');
  background-size: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

